@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
		/**{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Poppins', sans-serif;
		}*/
		.cuerpo{
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			background: #03a9f4;
			transition: 0.5s;
			max-width: 100%;
			width: 100%; 
			box-sizing: border-box;
		}
		.cuerpo.active{
			bacground: #f43648;
		}
		.container{
			width: 99%;
			margin-right: auto;
			margin-left: auto;
			position: absolute;
			width: 500px;
			height: 500px;
			margin: 20px;
		}
		.contenedor_logeo{//Container
			position: relative;
			width: 500px;
			height: 500px;
			margin: 20px;
		}
		.blueBG{
			position: absolute;
			top: 40px;
			width: 100%;
			height: 420px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(255,255,255,0.2);
			box-shadow: 0 5px 45px rgba(0,0,0,0.15);
			
			margin-left: auto;
			margin-right: auto;
		}
		.blueBG .box{
			position: relative;
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.blueBG .box h2{
			color: #fff;
			font-size: 21px;
			font-weight: 500;
			margin-bottom: 9px;
		}
		.blueBG .box button{
			cursor: pointer;
			padding: 10px 20px;
			background: #fff;
			color: #333;
			font-size: 16px;
			font-weight: 500;
			border: none;
		}
		.formBx{
			position: absolute;/*<-----absolute;*/
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background: #fff;
			z-index: 1000;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 5px 45px rgba(0,0,0,0.25);
			transition: 0.5s ease-in-out;
			overflow: hidden;
			margin: auto auto auto auto;
		}
		.formBx.active{
			left: 50%;
		}
		.formBx .form{
			position: absolute;/*<----absolute*/
			left: 0;
			width: 100%;
			padding: 50px;
			transition: 0.5s;
		}
		.formBx .form form {
			width: 100%;
			display: flex;/*absolute;*/
			flex-direction: column;
		}
		.formBx .form form h3{
			font-size: 19px;
			color: #333;
			margin-bottom: 20px;
			font-weight: 500;
		}
		.formBx .form form input {
			width: 100%;
			margin-bottom: 20px;
			padding: 10px;
			outline: none;
			font-size: 16px;
			border: 1px solid #333;
		}
		.formBx .form form input[type="submit"] {
			background: #03a9f4;
			border: none;
			color: #fff;
			max-width: 100px;
			cursor: pointer;
		}
		.formBx .form form .forgot {
			color: #f43648;
		}
		.formBx .signinForm{
			transition-delay: 0.25s;
			/*left: 100%;
			/*left: 100%;/*<------*/
		}
		.formBx.active .signinForm{
			left: -100%;
			transition-delay: 0s;
		}
		.formBx .signupForm{
			left: 100%;
			transition-delay: 0s;
		}
		.formBx.active .signupForm{
			left: 0;
			transition-delay: 0.25s;
		}
		.formBx.active .signupForm input[type="submit"]{
			background: #f43648;
		}
		
		@media(max-width: 990px){
			.contenedor_logeo{
				max-width: 400px;
				height: 650px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.contenedor_logeo .blueBG{
				top: 0;
				height: 100%;
			}
			.formBx{
				width: 100%;
				height: 500px;
				top: 0;
				box-shadow: none;
			}
			.blueBG .box{
				position: absolute;
				width: 100%;
				height: 150px;
				bottom: 0;
			}
			.box.signin{
				top: 0;
			}
			.formBx.active{
				left: 0;
				top: 150px;
			}
		}